/* Dalac • Responsive */

/* MAX 1440px */
@media only screen and (max-width: 1440px){

}
/* MAX 1170px */
@media only screen and (max-width: 1170px){

}
/* MAX 1024px */
@media only screen and (max-width: 1024px){

}
/* MAX 930px */
@media only screen and (max-width: 930px){

}
/* MAX 800px */
@media only screen and (max-width: 800px){

}
/* MAX 640px */
@media only screen and (max-width: 640px){

}
/* MAX 568px */
@media only screen and (max-width: 568px){

}
/* MAX 480px */
@media only screen and (max-width: 480px){

}
/* MAX 320px */
@media only screen and (max-width: 320px){
    .bg-index{
        background:url(../images/bgIndex320.jpg) center top no-repeat; 
        width: 100%;
        max-width: 320px;
        height: 100% !important; 
        position: absolute;
    }
    .bg-home{
        background:url(../images/bgIndex320.jpg) center top no-repeat; 
        width: 100%;
        max-width: 320px;
        eight: 100% !important; 
        position: absolute;
    }
}
